
{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row-fluid" style="border:0px solid black; padding:45px">
  <img src="{% static '/img/logo.jpg' %}" alt="My image">
    <h2>Add Instructors</h2>

    <form action="{{ target }}" method="post" class="form" style="border:0px solid black; padding:45px">
    {% csrf_token %}
       <div class="row">
    {% if legend %}
             <div class="row">
                <legend>{{ legend }}</legend>
             </div>
    {% endif %}

    {% if form.non_field_errors %}
             <div class="row">
    {% for error in form.non_field_errors %}
                   <div class="alert alert-error">
    {{ error }}
                   </div>
    {% endfor %}
             </div>
    {% endif %}

          <div class="row">
    {% for field in form.visible_fields %}
                <div class="control-group">
                   <label class="control-label" id="{{ field.id_for_label }}_label" for="{{ field.id_for_label }}">
    {{ field.label }}{% if field.field.required %}*{% endif %}
                   </label>
                   <div class="controls">
    {{ field }}
    {% if field.errors %}
                         <span class="inline-help text-error">
    {{ field.errors.as_text }}
                         </span>
    {% endif %}
                   </div>
                </div>
    {% endfor %}

    {% for field in form.hidden_fields %}
                <input type="hidden" name="{{ field.name }}" id="{{ field.id_for_label }}" value="{{ field.value }}" />
    {% endfor %}

             <a class="btn btn-default" href="{% url 'index' %}">Cancel</a>
             <button type="submit" class="btn btn-default">Submit</button>
          </div>
       </div>
    </form>

</div>

{% endblock %}
