{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

        <link href="/static/css/bootstrap.css" rel="stylesheet"/>
        <script src="/static/jquery-3.4.1/jquery-3.4.1.js"></script>
        <script src="/static/js/bootstrap.min.js"></script>
        <link href="/static/css/bootstrap-overide.css" rel="stylesheet"/>

        <title>{% block title %}{% endblock %}</title>

        {% block inline_style %}{% endblock %}

        <script>
            $.ajaxSetup({cache:false});

            {% block global_scripts %}
            {% endblock %}

            {% block scripts %}
            {% endblock %}
        </script>
        <!-- Importing jquery cdn -->
 <link href=
"http://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"
     rel="Stylesheet"
     type="text/css" />

 <script type="text/javascript"
     src="http://code.jquery.com/jquery-1.7.2.min.js">
 </script>

 <script type="text/javascript"
     src="http://code.jquery.com/ui/1.10.4/jquery-ui.js">
 </script>

 <!-- JavaScript function to display the calendar -->
 <script language="javascript">
     $(document).ready(function () {
         $("#txtdate").datepicker({
             showOn: "button",

             // Button image stored on local device
             
         });
     });
 </script>

 <!-- Customizing the datepicker button image -->
 <style type="text/css">
     .ui-datepicker-trigger {
         max-height: 28px;
     }
 </style>
    </head>

    <body style="padding-top: 80px; padding-bottom: 50px;">
        {% block nav_bar %}{% endblock %}
        {% block subhead %}{% endblock %}
        {% block content %}{% endblock %}
    </body>
</html>
